@page "/registroItem"
@inject IRepositorio repositorio;


<h3 class="text-center font-weight-bold" style="font-family:Arial;">Fromulario de Item</h3>

<div class="form-row">
    <div class="col">

    </div>
    <div class="col-md-6">
        <!--Inicio Form-->
        <EditForm Model="@producto" >
            <div class="col">
                <p class="text-center">Producto</p>
                <input type="hidden" @bind-value="@producto.Id" />
                <input class="form-control" type="text" placeholder="Ingresa el producto" required @bind-value="@producto.NombreProducto" />
            </div>
            <div class="col">
                <p class="text-center">Precio por unidad</p>
                <input class="form-control" type="text" placeholder="Ingresa el precio unitario" required @bind-value="@producto.PrecioProducto" />
            </div>
            <div class="form-group">
                <p class="text-center">Total de productos</p>
                <input class="form-control" type="number" placeholder="Ingresa la cantidad total" required @bind-value="@producto.CantidadProducto" />
            </div>
            <button type="submit" class="btn btn-primary w-100" @onclick="Crear">Continuar</button>
        </EditForm>
        <!--Fin form-->
        <form action="/" method="post">


        </form>
    </div>
    <div class="col">

    </div>
</div>


@code {
    private Producto producto = new Producto();


    private async Task Crear()
    {

        var httpResponse = await repositorio.Post("producto/registrar", producto);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }

    }


}
